*{
	box-sizing: content-box;

}
body{
	font-family: arial;
	margin: 10px 20px;
	font-size: 20px;
	padding: 5px;
}
.alpha{
	background-color: whitesmoke;
	border: 2px solid black;
	border-radius: 20px;
	padding: 2px 15px 1px 20px;
	width: 1000px;
	height: 1300px;
	margin: 4px 180px 100px;
}
fieldset{
	background-color: snow;
}
h1{
	text-align: center;
	color:black;
	font-size: 65px;
	font-family: initial;
	background-color:lightsteelblue;
}
input[type="email"],
input[type="number"],
input[type="Date"],
input[type="txt"],
select{
	width: 200px;
	background-color: snow ;
	padding: 5px;
	border: 1px solid black;
	border-radius: 4px;
	margin:5px;
}
textarea{
	background-color: snow;
	margin: 5px;
}
h2{
	color: red;
	text-align: center;
	font-size: 40px;
}
.v{
	font-size: 29px;
	margin: 1px 5px;
	background-color: skyblue;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.u{
	background-color: skyblue;
	font-size: 25px;
	text-align: left;
	border: none;
	border-radius: 4px;
	margin-left: 800px;
	margin: 1px 5px 4px 800px;
	cursor: pointer;
}
.u:hover{
	color:red;
}
.v:hover{
	color: red;
}